# Database configuration
DB_HOST=localhost
DB_NAME=db
DB_NAME_TEST=test_db
DB_USER=postgres
DB_PASSWORD=password
DB_PORT=5432

REDIS_URL=


GITHUB_API_BASE_URL=https://api.github.com
GITHUB_TOKEN=ghp_token
GITHUB_REPO_FULL_NAME=lakeside763/github-monitor
GITHUB_ACCOUNT_OWNER=lakeside763
GITHUB_REPO_NAME=github-monitor
MONITORING_INTERVAL=3600
FETCH_LIMIT=20

DATABASE_URL=mongodb://localhost:27017
DATABASE_TYPE=postgresql

DATABASE_URL=postgres://postgres:password@localhost:5432/githubmonitor?sslmode=disable
DATABASE_TEST_URL=postgres://postgres:password@localhost:5432/githubmonitortest?sslmode=disable